<html>
    <head>
        <title>FitnessGM</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            
            <header>
                <div class="links">
                    <a href="/" class="active">Instructors</a>
                    <a href="/trabalhos">Members</a>
            
                </div>
            </header>

           {% block content %}

           {% endblock %}

           
          
        </body>
</html>