{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background:url(https://source.unsplash.com/collection/3465564/400x400)no-repeat;height:400px;width:400px;">

        </section>
        <section class="details">

            <h3>Detalhes</h3>

             <div class="item">
                <div>Instructor</div>
                <div>Tatiane</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>Masculino</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>29</div>
            </div>

             <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Cross-fit</span>
                    <span>Musculação</span>
                </div>
                </div>

                <div class="item">
                <div>Desde</div>
                <div>10/10/1992</div>
            </div>
            </div>

        </section>
    </div>
{% endblock %}